 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 540px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 60px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 581px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  grid-template-rows: auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 2259px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 2px 0;
}

.u-section-2 .u-text-1 {
  margin: 375px 2px 0 28px;
}
.u-text-back{
  padding-top: 0.8em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  /* margin-top: 1.5em; */
  color: white; 
  font-family: Caveat; 
  font-size: 35px; 
  font-weight: bold;
  /* word-wrap: break-word; */
  /*width: 0.1em; */
  line-height: 1;
}

.facebook-icon {
  position: absolute; 
  right: 18px; 
  bottom: -1px; 
  font-size: 60px;
  display: inline-block;
  padding: 1px 1  9px;
  transition: all 0.3s ease-in-out;
  text-shadow: 0 0 10px #0072ff, 0 0 10px #0072ff, 0 0 10px #0072ff,
    0 0 50px #0072ff;
}
.facebook-icon:hover {
  animation: animate 3s linear infinite;
}


.instagram-icon {
  position: absolute;
  right: 45px;
  bottom: 7.6px;
  font-size: 60px;
  display: inline-block;
  padding: 1px 1 9px;
  transition: all 0.3s ease-in-out;
  text-shadow: 0 0 10px #ff00bf, 0 0 10px #ff00bf, 0 0 10px #ff00bf,
    0 0 50px #ff00bf;
}
.instagram-icon:hover {
  animation: animate 3s linear infinite;
}

.github-icon{
  position: absolute;
  right: 160px;
  bottom: -2px;
  font-size: 60px;
  display: inline-block;
  padding: 1px 1 9px;
  transition: all 0.3s ease-in-out;
  text-shadow: 0 0 10px #111111, 0 0 10px #111111, 0 0 10px #111111,
    0 0 50px #111111;
}
.github-icon:hover {
  animation: animate 3s linear infinite;
  text-shadow: 0 0 10px #929292, 0 0 10px #929292, 0 0 10px #929292,
    0 0 50px #929292;
  color: black;
}


#twitter {
  animation-delay: 0.3s;
}
#facebook {
  animation-delay: 0.7s;
  color: white;
}
#instagram {
  animation-delay: 0.6s;
  color: white;
}
#github {
  animation-delay: 0.1s;
  color: white;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}


.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 2px 0;
}

.u-section-2 .u-text-2 {
  margin: 7px 0 0;
}
.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 2px 0;
}

.u-section-2 .u-text-3 {
  margin: 375px 2px 0 28px;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 2px 0;
}

.u-section-2 .u-text-4 {
  margin: 375px 2px 0 28px;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 2px 0;
}

.u-section-2 .u-text-5 {
  margin: 375px 2px 0 28px;
}

.u-section-2 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 2px 0;
}

.u-section-2 .u-text-6 {
  margin: 375px 2px 0 28px;
}

.u-section-2 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 2px 0;
}

.u-section-2 .u-text-7 {
  margin: 375px 2px 0 28px;
}

.u-section-2 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 2px 0;
}

.u-section-2 .u-text-8 {
  margin: 375px 2px 0 28px;
}

.u-section-2 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-9 {
  padding: 2px 0;
}

.u-section-2 .u-text-9 {
  margin: 375px 2px 0 28px;
}

.u-section-2 .u-image-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-10 {
  padding: 2px 0;
}

.u-section-2 .u-text-10 {
  margin: 375px 2px 0 28px;
}

.u-section-2 .u-image-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-11 {
  padding: 2px 0;
}

.u-section-2 .u-text-11 {
  margin: 375px 2px 0 28px;
}

.u-section-2 .u-image-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-12 {
  padding: 2px 0;
}

.u-section-2 .u-text-12 {
  margin: 375px 2px 0 28px;
}

.u-section-2 .u-image-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/Screenshot_230.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-13 {
  padding: 2px 0;
}

.u-section-2 .u-text-13 {
  margin: 375px 2px 0 28px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1863px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 3014px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 402px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 308px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 231px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 145px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 581px;
}

.u-section-4 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  grid-template-rows: auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 2259px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/user-spy.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-1 {
  margin: 345px 0 0;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-2 {
  margin: 345px 0 0;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-3 {
  margin: 345px 0 0;
}

.u-section-4 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-4 {
  margin: 345px 0 0;
}

.u-section-4 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/Screenshot_230.png");
  background-position: 50% 50%;
}
.u-image-5{
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/Screenshot_230.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-5 {
  margin: 345px 0 0;
}

.u-section-4 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-6 {
  margin: 345px 0 0;
}

.u-section-4 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-7 {
  margin: 345px 0 0;
}

.u-section-4 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-8 {
  margin: 345px 0 0;
}

.u-section-4 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-9 {
  margin: 345px 0 0;
}

.u-section-4 .u-image-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-10 {
  margin: 345px 0 0;
}

.u-section-4 .u-image-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-11 {
  margin: 345px 0 0;
}

.u-section-4 .u-image-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-12 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-12 {
  margin: 345px 0 0;
}

.u-section-4 .u-image-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7421238-HSC00001-7.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-13 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-13 {
  margin: 345px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1863px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 3014px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 300px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 300px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 300px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 300px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 300px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 300px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 300px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 300px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 300px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 300px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 300px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: 300px;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-top: 300px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 528px;
}

.u-section-5 .u-text-1 {
  margin: 93px auto 0;
}

.u-section-5 .u-form-1 {
  height: 241px;
  width: 570px;
  margin: 16px auto 60px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-5 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-form-1 {
    width: 340px;
  }
}




.flip-card {
  background-color: transparent;
  perspective: 1000px;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0px auto 27em;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: rgb(255, 255, 255);
}

.flip-card-back {
  background-color: #666666;
  color: rgb(255, 255, 255);
  transform: rotateY(180deg);
}
