 .u-section-1 {
  background-image: none;
  background-color: #7a1c1f;
}

.u-section-1 .u-sheet-1 {
  min-height: 540px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 60px auto;
  color: white;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
  background-color: #7a1c1f;
}

.u-section-2 .u-sheet-1 {
  min-height: 1124px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  margin: 60px auto 0;
  color: white;
}

.u-section-2 .u-text-2 {
  margin: 71px auto 0;
  color: white;
}

.u-section-2 .u-text-3 {
  font-size: 6rem;
  margin: 71px auto 0;
  color: white;
}

.u-section-2 .u-text-4 {
  margin: 73px auto 0;
  color: white;
}

.u-section-2 .u-text-5 {
  font-size: 6rem;
  margin: 71px auto 0;
  color: white;
}

.u-section-2 .u-text-6 {
  margin: 73px auto 0 196px;
  color: white;
}

.u-section-2 .u-text-7 {
  margin: -52px 203px 60px auto;
  color: white;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-6 {
    margin-left: 147px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-6 {
    margin-left: 93px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 96px;
  }
}